@rendermode InteractiveServer

@{
    var labelClass = "col-md-12 col-lg-4";
    var labelIconStyle = "font-size: 0.75rem;";
    var inputClass = "col-md-12 col-lg-8";
}

<div class="card w-100 mb-3">
    <div class="card-body">
        <h5 class="card-title">Status</h5>

        <EditForm EditContext="EditContext">
            <DataAnnotationsValidator />

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.OperatorName)" class="@labelClass col-form-label">Operator Name</label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.OperatorName)" type="text" readonly class="form-control-plaintext" value="@Model.OperatorName"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.OperatorNumber)" class="@labelClass col-form-label">Operator Number</label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.OperatorNumber)" type="text" readonly class="form-control-plaintext" value="@Model.OperatorNumber"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.ICCID)" class="@labelClass col-form-label">
                    ICCID
                    <i class="bi bi-info-circle" title="Integrated Circuit Card Identifier" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.ICCID)" type="text" readonly class="form-control-plaintext" value="@Model.ICCID" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.IMSI)" class="@labelClass col-form-label">
                    IMSI
                    <i class="bi bi-info-circle" title="International Mobile Subscriber Identity" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.IMSI)" type="text" readonly class="form-control-plaintext" value="@Model.IMSI" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.MCC)" class="@labelClass col-form-label">
                    MCC
                    <i class="bi bi-info-circle" title="Mobile Country Code" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.MCC)" type="text" readonly class="form-control-plaintext" value="@Model.MCC" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(TimeZoneInfo.DaylightName)" class="@labelClass col-form-label">Time Zone</label>
                <div class="@inputClass">
                    <input id="@nameof(TimeZoneInfo.DaylightName)" type="text" readonly class="form-control-plaintext" value="@Model.TimeZoneInfo?.Id" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.PhoneNumber)" class="@labelClass col-form-label">Phone Number</label>
                <div class="@inputClass">
                    <InputText id="@nameof(ModemStatus.PhoneNumber)" class="form-control" @bind-Value="Model.PhoneNumber" placeholder="+1234567890" />
                    <ValidationMessage For="() => Model.PhoneNumber" />
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.CID)" class="@labelClass col-form-label">
                    CID
                    <i class="bi bi-info-circle" title="Cell Identifier" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.CID)" type="text" readonly class="form-control-plaintext" value="@Model.CID"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.RSRP)" class="@labelClass col-form-label">
                    RSRP
                    <i class="bi bi-info-circle" title="Reference Signal Received Power" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.RSRP)" type="text" class="form-control-plaintext" value="@Model.RSRP"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.RSRQ)" class="@labelClass col-form-label">
                    RSRQ
                    <i class="bi bi-info-circle" title="Reference Signal Received Quality" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.RSRQ)" type="text" class="form-control-plaintext" value="@Model.RSRQ"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.RSSI)" class="@labelClass col-form-label">
                    RSSI
                    <i class="bi bi-info-circle" title="Received Signal Strength Indicator" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.RSSI)" type="text" class="form-control-plaintext" value="@Model.RSSI"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.SINR)" class="@labelClass col-form-label">
                    SINR
                    <i class="bi bi-info-circle" title="Signal-to-Interference-plus-Noise Ratio" style="@labelIconStyle"></i>
                </label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.SINR)" type="text" class="form-control-plaintext" value="@Model.SINR"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemStatus.SmsStorageFull)" class="@labelClass col-form-label">SMS storage full?</label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.SmsStorageFull)" type="text" class="form-control-plaintext" value="@(Model.SmsStorageFull ? "Yes" : "No")" />
                </div>
            </div>

            <div class="row">
                <label for="@nameof(ModemStatus.LastUpdatedAt)" class="@labelClass col-form-label">Last updated</label>
                <div class="@inputClass">
                    <input id="@nameof(ModemStatus.LastUpdatedAt)" type="text" class="form-control-plaintext" value="@((DateTimeOffset.UtcNow - Model.LastUpdatedAt).ToString("hh\\:mm\\:ss"))" />
                </div>
            </div>
        </EditForm>
    </div>
</div>