@rendermode InteractiveServer

@{
    var labelClass = "col-sm-12 col-md-3 col-lg-2";
    var inputClass = "col-sm-12 col-md-9 col-lg-10";
}

<div class="card w-100 mb-3">
    <div class="card-body">
        <h5 class="card-title">Settings</h5>

        <EditForm EditContext="EditContext">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3 row">
                <label for="@nameof(ModemSettings.ModemTokenLifeTime)" class="@labelClass col-form-label">Token lifetime</label>
                <div class="@inputClass">
                    <InputDate id="@nameof(ModemSettings.ModemTokenLifeTime)" Type="InputDateType.Time" @bind-Value="Model.ModemTokenLifeTime" class="form-control" />
                </div>
            </div>
            <hr />

            <div class="form-check form-switch">
                <InputCheckbox id="@nameof(ModemSettings.PollStatus)" @bind-Value="Model.PollStatus" class="form-check-input" />
                <label for="@nameof(ModemSettings.PollStatus)" class="form-check-label">Poll Status</label>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemSettings.PollStatusInterval)" class="@labelClass col-form-label">Poll Status interval</label>
                <div class="@inputClass">
                    <InputDate id="@nameof(ModemSettings.PollStatusInterval)" Type="InputDateType.Time" @bind-Value="Model.PollStatusInterval" disabled="@(!Model.PollStatus)" class="form-control" />
                </div>
            </div>
            <hr />

            <div class="form-check form-switch">
                <InputCheckbox id="@nameof(ModemSettings.PollSms)" @bind-Value="Model.PollSms" class="form-check-input" />
                <label for="@nameof(ModemSettings.PollSms)" class="form-check-label">Poll SMS</label>
            </div>

            <div class="mb-3 row">
                <label for="@nameof(ModemSettings.PollSmsInterval)" class="@labelClass col-form-label">Poll SMS interval</label>
                <div class="@inputClass">
                    <InputDate id="@nameof(ModemSettings.PollSmsInterval)" Type="InputDateType.Time" @bind-Value="Model.PollSmsInterval" disabled="@(!Model.PollSms)" class="form-control" />
                </div>
            </div>

            <div class="ms-3 row">
                <div class="form-check form-switch">
                    <InputCheckbox id="@nameof(ModemSettings.PollIncomingSms)" @bind-Value="Model.PollIncomingSms" disabled="@(!Model.PollSms)" class="form-check-input" />
                    <label for="@nameof(ModemSettings.PollIncomingSms)" class="form-check-label">Poll incoming SMS</label>
                </div>
                <div class="form-check form-switch">
                    <InputCheckbox id="@nameof(ModemSettings.PollIncomingSmsThenSetAsRead)" @bind-Value="Model.PollIncomingSmsThenSetAsRead" disabled="@(!Model.PollSms)" class="form-check-input" />
                    <label for="@nameof(ModemSettings.PollIncomingSmsThenSetAsRead)" class="form-check-label">Set as read polled incoming SMS</label>
                </div>
                <div class="form-check form-switch">
                    <InputCheckbox id="@nameof(ModemSettings.PollIncomingSmsThenDelete)" @bind-Value="Model.PollIncomingSmsThenDelete" disabled="@(!Model.PollSms)" class="form-check-input" />
                    <label for="@nameof(ModemSettings.PollIncomingSmsThenDelete)" class="form-check-label">Delete polled incoming SMS</label>
                </div>
                <hr />

                <div class="form-check form-switch">
                    <InputCheckbox id="@nameof(ModemSettings.PollOutgoingSms)" @bind-Value="Model.PollOutgoingSms" disabled="@(!Model.PollSms)" class="form-check-input" />
                    <label for="@nameof(ModemSettings.PollOutgoingSms)" class="form-check-label">Poll outgoing SMS</label>
                </div>
                <div class="form-check form-switch">
                    <InputCheckbox id="@nameof(ModemSettings.PollOutgoingSmsThenDelete)" @bind-Value="Model.PollOutgoingSmsThenDelete" disabled="@(!Model.PollSms)" class="form-check-input" />
                    <label for="@nameof(ModemSettings.PollOutgoingSmsThenDelete)" class="form-check-label">Delete polled outgoing SMS</label>
                </div>
                <hr />

                <div class="form-check form-switch">
                    <InputCheckbox id="@nameof(ModemSettings.PollDraftSms)" @bind-Value="Model.PollDraftSms" disabled="@(!Model.PollSms)" class="form-check-input" />
                    <label for="@nameof(ModemSettings.PollDraftSms)" class="form-check-label">Poll draft/failed SMS</label>
                </div>
                <div class="form-check form-switch">
                    <InputCheckbox id="@nameof(ModemSettings.PollDraftSmsThenDelete)" @bind-Value="Model.PollDraftSmsThenDelete" disabled="@(!Model.PollSms)" class="form-check-input" />
                    <label for="@nameof(ModemSettings.PollDraftSmsThenDelete)" class="form-check-label">Delete polled draft/failed SMS</label>
                </div>
            </div>
        </EditForm>
    </div>
</div>