@page "/modems"
@rendermode InteractiveServer

<PageTitle>Modems</PageTitle>

<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><NavLink href="/">Home</NavLink></li>
                <li class="breadcrumb-item active" aria-current="page">Modems</li>
            </ol>
        </nav>
    </div>

    <div class="col text-end">
        <button @onclick="() => Modal.Open()" class="btn btn-primary">
            <i class="bi bi-plugin"></i>
            Discover new modem
        </button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">URI</th>
                <th scope="col">Name</th>
                <th scope="col">Serial Number</th>
                <th scope="col">IMEI</th>
                <th scope="col">Operator Name</th>
                <th scope="col">IMSI</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @if (ModemsInfo == null)
            {
                <tr class="placeholder-glow">
                    <td><span class="placeholder col-12"></span></td>
                    <td><span class="placeholder col-12"></span></td>
                    <td><span class="placeholder col-12"></span></td>
                    <td><span class="placeholder col-12"></span></td>
                    <td><span class="placeholder col-12"></span></td>
                    <td><span class="placeholder col-12"></span></td>
                    <td><span class="placeholder col-12"></span></td>
                </tr>
            }

            @foreach (var modem in ModemsInfo ?? Enumerable.Empty<Modem>())
            {
                <tr>
                    <td>
                        <a href="@modem.Uri" target="_blank">
                            @modem.Uri.Host
                        </a>
                    </td>
                    <td>@modem.DeviceName</td>
                    <td>@modem.SerialNumber</td>
                    <td>@modem.IMEI</td>
                    <td>@modem.Status?.OperatorName</td>
                    <td>@modem.Status?.IMSI</td>
                    <td>@modem.Status?.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<ModalComponent @ref="Modal" Title="Discover new modem" OnClose="OnClose">
    <EditForm EditContext="EditContext" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <AntiforgeryToken />

        <div class="mb-3 row">
            <label for="uri" class="col-sm-4 col-form-label">Uri</label>
            <div class="col-sm-8">
                <InputText @bind-Value="Model.RawUri" placeholder="http://192.168.1.1" id="uri" class="form-control" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="phonenumber" class="col-sm-4 col-form-label">Phone number</label>
            <div class="col-sm-8">
                <InputText @bind-Value="Model.PhoneNumber" placeholder="+1234567890" id="phonenumber" class="form-control" />
            </div>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" disabled="@IsSubmitted" class="btn btn-primary">
                @if (IsSubmitted)
                {
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span>Discovering</span>
                }
                else
                {
                    <i class="bi bi-search"></i>
                    <span>Discover</span>
                }
            </button>
        </div>
    </EditForm>
</ModalComponent>